@charset "utf-8";
div {
	display: block;
}
.center {
	margin: auto;
	position: relative;
	width: 100%;
	max-width: 1100px;
	padding: 0 50px 35px;
	box-sizing: border-box;
}
#header, #main, #footer {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
}
.banner {
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background: rgba(0, 0, 0, .8);
	display: table;
	color: #189DBF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	padding: 70px 0;
	font-size: 40px;
	line-height: 40px;
}
#nav-wrapper {
	display: table;
	width: 100%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
}
li {
	float: left;
	color: #000000;
}
li a.nav {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	/*EXAMPLE OF DISPLAY PROPERTY*/
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #0C173F;
}
li a.nav:hover:not(.active) {
	background-color: #189DBF;
}
li a.nav2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	/*EXAMPLE OF DISPLAY PROPERTY*/
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #0C173F;
	background-color: #189DBF;
}

#body {
	background-color: grey;
	position: relative;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 50px 35px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.maincontent1 {
	float: left;
	padding:20px;
}
.maincontent2 {
	float: right;
	padding: 20px;
}


