@charset "utf-8";
.gallery {
	position: relative;
}
.gallery:hover .thumb {
	opacity: .7;
}
.thumb {
	height: 100px;
	width: 12.5%;
	background: no-repeat center center;
	background-size: cover;
	transition: opacity 600ms;
}
.gallery .thumb:hover {
	opacity: 1;
}
.thumb:before, .thumb:after {
	opacity: 0;
	width: 45%;
}
.thumb:last-of-type:before, .thumb:last-of-type:after {
	opacity: 1;
}
.thumb:hover:before, .thumb:hover:after {
	z-index: 100;
	opacity: 1;
	transition: opacity 2000ms;
}
.thumb:before {
	content: '';
	position: absolute;
	top: 0;
	left: 12.5%;
	height: 100%;
	width:75%;
	padding-left: 20px;
	background: inherit;
	background-position: 10px center;
}
.thumb.cmn {
	background-image: url(img/CMN.jpg);
}
.thumb.pulse {
	background-image: url(img/pulse.jpg);
}
.thumb.leehall {
	background-image: url(img/leehall.jpg);
}
.thumb.leehall2 {
	background-image: url(img/leehall2.jpg);
}
.thumb.cmnposter {
	background-image: url(img/cmnposter.jpg);
}
.thumb.sandiego {
	background-image: url(img/sandiego.jpg);
}
.thumb.pulse2 {
	background-image: url(img/pulse2.jpg);
}
.thumb.surfersparadise2 {
	background-image: url(img/surfersparadise2.jpg);
}
.thumb.enrollment {
	background-image: url(img/enrollment.jpg);
}
.thumb.travelex {
	background-image: url(img/travelex.jpg);
}
.thumb.blank {
	background-image: url(img/blank.jpg);
}
.gallery {
	position: relative;
}
